name: secret_demo

on:
  push:
    branches:
      - main

jobs:
  etl_pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Run read_data with secret
        env:
          TOKEN_1: ${{ secrets.TOKEN_1 }}
        run: python read_data.py
